<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
    <link rel="stylesheet" href="/assets/css/main.css">

    <link rel="shortcut icon"
          href="/assets/images/CoMaking_Favicon16px.png">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <title>CoMakingSpace | {{page.title}}</title>
    {%- include seo_general.html -%}
    {%- include schemas/website.html -%}
    {%- include schemas/localBusiness.html -%}
</head>
