<!-- Begin of overall SEO relevant information -->
<meta property="og:title" content="{{ page.title }}" />
<meta property="og:locale" content="{{ page.lang}}" />

<meta name ="description" content ="{{site.description.[page.lang]}}" />
<meta name ="site_name" content ="{{site.title.[page.lang]}}" />

<meta property ="og:site_name" content ="{{site.title.[page.lang]}}" />
<meta property="og:url" content="{{site.url}}{{page.url}}" />

<meta property="twitter:title" content="{{page.title}}" />
<meta name ="twitter:card" content ="{{site.twitter.card}}" />
<meta name ="twitter:site" content ="@{{site.twitter.username}}" />

<!-- End of overall SEO relevant information -->