<!-- Begin of overall SEO relevant information -->
<meta property="og:title" content="{{ page.title }}" />
<meta property="og:locale" content="{{ page.lang}}" />

<meta name ="description" content ="{{site.description.[page.lang]}}" />
<meta name ="site_name" content ="{{site.title.[page.lang]}}" />

<meta property ="og:site_name" content ="{{site.title.[page.lang]}}" />
<meta property="og:url" content="{{site.url}}{{page.url}}" />

<meta name="twitter:title" content="{{page.title}}" />
<meta name ="twitter:site" content ="@{{site.twitter.username}}" />


{% if page.summary %}
<meta name="twitter:description" content="{{ page.summary }}">
{%- else -%}
<meta name="twitter:description" content="{{site.description.[page.lang]}}">
{%- endif -%}
{%- if page.image -%}
<meta name="twitter:card"  content="summary_large_image">
<meta name="twitter:image" content="{{ site.url }}{{ page.image }}">
{%- else -%}
<meta name="twitter:card"  content="summary">
<meta name="twitter:image" content="{{ site.title_image }}">
{%- endif -%}
<!-- end of Twitter cards -->

<!-- End of overall SEO relevant information -->