.disclaimer {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
  box-sizing: inherit;
  background-color: darkred !important;
  color: #fff !important;
  grid-area: disclaimer;
  grid-row-start: disclaimer;
  grid-column-start: disclaimer;
  grid-row-end: disclaimer;
  grid-column-end: disclaimer;
}

.logo {
  grid-area: logo;
  place-self: start;
  place-items: start ;
  margin: 0.5rem 0rem 0 0.5rem;
  a {
    height: 100%;
  }
  img {
    height: 3rem;
  }
}

#page-nav {
  // ref: https://code-boxx.com/simple-responsive-pure-css-hamburger-menu/
  grid-area: navbar;
  grid-column: 1 / 3;
  place-self: end;
  text-align: right;
  align-self: end;
  font-size: 1rem;
}

/* Hide Hamburger */
#page-nav label, #hamburger {
  display: none;
}

/* Menu Items */
#page-nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: left;
}

#page-nav ul li {
  display: inline-block;
  padding: 10px;
  box-sizing: border-box;
}

#page-nav ul li a {
  color: #000;
  text-decoration: none;
}

/* [ON SMALL SCREENS] */
@media screen and (max-width: 980px) {

  a {
    display: block;
  }

  #page-nav {
    width: 100%;
  }

  /* Show Hamburger */
  #page-nav label {
    display: inline-block;
    color: #000;
    font-style: normal;
    font-size: 2.2rem;
    padding: 10px;
  }

  /* Break down menu items into vertical */
  #page-nav ul li {
    display: block;
  }
  #page-nav ul li {
    border-top: 1px solid #333;
  }

  #page-nav ul {
    > :last-child {
      border-bottom: 1px solid #333;
    }
  }

  /* Toggle show/hide menu on checkbox click */
  #page-nav ul {
    display: none;
  }
  #page-nav input:checked ~ ul {
    display: block;
  }
}

.active {
  //outline: red solid 1px;
  background-color: rgba(200, 200, 200, 0.45);
}

.en:lang(en), .de:lang(de){
  font-weight: bold;
}
