.first_paragraph {
    text-align: center;

    p {
        font-size: 22px;
        line-height: 1.2;
        font-weight: lighter;
    }
}

.membership-blocks {
    display: grid;
    grid-row-gap: 1em;
}

.membership-blocks-rounded-top {
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
}

.membership-element {
    display: grid;
    grid-template-columns: 2fr 6fr 2fr;
    border: solid 1px black;
    min-height: 193px;

    img {
        padding-left: 1rem;
        padding-right: 1rem;
        place-self: center;
        justify-self: center;
    }

    span {
        text-align: center;
        place-self: center;
        justify-self: center;
    }

    > h1 {
        place-self: center;
        justify-self: center;
        font-size: 2.3rem;
        padding-right: 3px;
    }
}

.membership-blocks-rounded-bottom {
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    min-height: 1px;
}

@media only screen and (max-width: 1080px) {
    .membership-element > h1 {
        font-size: 2.4rem;
    }
}

@media only screen and (max-width: 900px) {
    .membership-element > h1 {
        font-size: 1.9rem;
    }
}

@media only screen and (max-width: 740px) {
    .membership-element {
        > span > h1 {
            font-size: 1.8rem;
        }
        > h1 {
            font-size: 1.7rem;
        }
    }
}

@media only screen and (max-width: 650px) {
    .membership-element {
        > h1 {
            font-size: 1.5rem;
        }
    }
}

@media only screen and (max-width: 490px) {
    .membership-element {
        > span > h1 {
            font-size: 1.1rem;
        }
        > h1 {
            font-size: 1.1rem;
        }
    }
}
