%post_grid {
  display: flex;
  padding-top: 1em;
  padding-bottom: 1em;
  border-bottom-color: grey;
  border-bottom-style: dashed;
  max-width: 100%;
  gap: 1em;
}

.post {
  @extend %post_grid;
}

.post-alternate {
  @extend %post_grid;
}
.post-image {
  grid-area: picture;
  width: 30%;
  min-width: 6em;
  max-width: 12em;
  float: left;
  img {
    border-radius: 0.3rem;
    max-height: 100%;
    max-width: 100%;
  }
}
.post-teaser {
  grid-area: teaser;
  float: right;
  flex-wrap: nowrap;
}
.post-teaser-title {
  width: 100%;
  flex-wrap: nowrap;
  word-break: break-all;
  overflow-wrap: break-word;
  h2 {
    margin-top: 0rem;
  }
}
.post-teaser-content {
  width: 100%;
  flex-wrap: nowrap;
}

@media only screen and (max-width: 576px) {
  //padding-bottom: 30rem;
  .post-image {
    width: 100%;
  }
  .post-teaser {
    width: 100%;
  }
  .post-teaser-title {
    width: 100%;
  }
  .post-teaser-content {
    width: 100%;
  }
}
