.post{
    display: grid;
    grid-row-gap: 2em;
    //grid-template-rows: 1fr 7fr 3fr;
    grid-template-columns: 2fr 8fr;
    grid-template-areas:
        "picture teaser";
    padding-top: 1em;
    padding-bottom: 1em;
    border-bottom-color: grey;
    border-bottom-style: dashed;
  }
  
  .post-alternate{
    display: grid;
    grid-row-gap: 2em;
    //grid-template-rows: 1fr 7fr 3fr;
    grid-template-columns: 8fr 2fr;
    grid-template-areas:
        "teaser picture";
    padding-top: 1em;
    padding-bottom: 1em;
    border-bottom-color: grey;
    border-bottom-style: dashed;
  }
  
  .post-image {
    grid-area: picture;
    float: left;
  }
  .post-teaser {
    grid-area: teaser;
    float: right;
    flex-wrap: nowrap;
  }
  .post-teaser-title {
    width: 100%;
    flex-wrap: nowrap;
  }
  .post-teaser-content {
    width: 100%;
    flex-wrap: nowrap;
  }
  
  @media only screen and (max-width: 576px) {
    //padding-bottom: 30rem;
    .post-image {
      width: 100%;
    }
    .post-teaser {
      width: 100%;
    }
    .post-teaser-title {
      width: 100%;
    }
    .post-teaser-content {
      width: 100%;
    }
  }