.navbar-nav {
  float: none;
  flex-grow: 0;
  margin: 0 auto;
  text-align: center;
}

.navbar-collapse {
  flex-grow: 0;
}

.navbar-nav > li {
  display: inline-block;
  float: none;
}
.justify-content-center {
  padding-bottom: 10px;
}
html {
  height: 100%;
}

body {
  position: relative;
  margin-bottom: 60px;
  min-height: 100%;
}

.footer {
  position: absolute;
  background-color: lightgray;



  p {
    width: 100%;
    margin-bottom: 0;
  }

  a {
    text-decoration: none;
  }

  a:link {
    color: #292929;
  }

  a:visited {
    color: #292929;
  }

  a:hover {
    color: gray;
    text-underline: none;
  }

  a:active {
    color: #2e2e2e;
  }
}
