
body {
  background-color: #2a7ae2;
}

.navbar-nav .navbar-collapse {
  float:none;
  margin:0 auto;
  display: inline;
  text-align: center;
}

.navbar-nav > li {
  display: inline-block;
  float:none;
}