%team_grid {
  display: grid;
  //grid-row-gap: 2em;
  //grid-template-rows: 1fr 7fr 3fr;

  column-gap: 0.4rem;
  padding-top: 1em;
  padding-bottom: 1em;
  border-bottom-color: grey;
  border-bottom-style: dashed;
}

.team{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
}

.team-regular{
    @extend %team_grid;
    // grid-template-columns: 2fr 8fr;
    // grid-template-areas:
    //     "picture teaser";
    grid-template-rows: auto auto;
    grid-template-areas:
        "picture"
        "teaser";
  }
  
  .team-alternate{
    @extend %team_grid;
    grid-template-columns: 8fr 2fr;
    grid-template-areas:
        "teaser picture";

  }
  
  .team-image {
    grid-area: picture;
    float: left;
    place-self: center;

    img {
      width: 300px;
      height: 300px;
      object-fit: cover;
      border-radius: 75%;
    }
  }

  .team-text {
    grid-area: teaser;
    float: right;
    flex-wrap: nowrap;
    text-align: justify;
  }

  .team-text-name {
    width: 100%;
    flex-wrap: nowrap;
  }

  .team-text-desc {
    width: 100%;
    flex-wrap: nowrap;
    text-align: justify;
  }