.machines {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

@media only screen and (min-width: 640px) {
  .machines {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (min-width: 1024px) {
  .machines {
    grid-template-columns: repeat(3, 1fr);
  }
}

.machine-container {
  display: flex;
  flex-direction: column;
  gap: 0px;
  background-color: green;
  border-radius: 5px;
  background-color: rgb(33, 37, 41);
}

.machine-image {
  img {
    width: 100%;
    object-fit: cover;
    aspect-ratio: 1 / 1;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
}

.machine-name {
  margin: 0px;
  padding: 10px;
  padding-top: 0px;
  padding-bottom: 5px;
  font-size: 1.25rem; /* 20px */
  line-height: 1.75rem; /* 28px */
  color: white;
}
