<!doctype html>
<html lang="en">

{%- include head.html -%}

<body class=overall>
    {%- include header.html -%}
    <div class="main-content">
        {{content}}
        <!--<div class="row row-offcanvas row-offcanvas-right">
            <div class="col-12 col-md-8">
                {{content}}
            </div>
             <div class="col-8 col-md-4 sidebar-offcanvas" id="sidebar">
                    {%- include sidebar.html -%}
                </div> -->
        </div>
        
    </div>
    {%- include footer.html -%}
   

    {%- include scripts.html -%}

</body>

</html>