<!doctype html>
<html lang="en">

{%- include head.html -%}

<body>

    {%- include header.html -%}
    <div class="bg-danger text-white">
        DISCLAIMER: This is just a test so far! <br />
        Please check out our official site at <a href="https://comakingspace.org/">www.comakingspace.org/</a>. for
        further
        information about our organization.
    </div>
    <div class="container justify-content-center">
        {{content}}
    </div>

    {%- include footer.html -%}

    {%- include scripts.html -%}

</body>

</html>