<!doctype html>
<html lang="en">

{%- include head.html -%}

<body>

    
    <div class="container justify-content-center">
            {%- include header.html -%}
        <div class="row row-offcanvas row-offcanvas-right">
            <div class="col-12 col-md-8">
                {{content}}
            </div>
            <div class="col-8 col-md-4 sidebar-offcanvas" id="sidebar">
                    {%- include sidebar.html -%}
                </div>
        </div>
        {%- include footer.html -%}
    </div>

   

    {%- include scripts.html -%}

</body>

</html>