<!-- Begin of LocalBusiness information -->
<script type="application/ld+json">
    {
        "@context":"https://schema.org",
        "@type":"LocalBusiness",
        "address": {
            "@type": "PostalAddress",
            "addressCountry": "{{site.country}}",
            "postalCode": "{{site.postal_code}}",
            "streetAddress": "{{site.street_address}}"
          },
          "location": {
            "@type": "PostalAddress",
            "addressCountry": "{{site.country}}",
            "postalCode": "{{site.postal_code}}",
            "streetAddress": "{{site.street_address}}"
          },
          "geo": {
            "@type": "GeoCoordinates",
            "latitude": "{{site.latitude}}",
            "longitude": "{{site.longitude}}"
          },
          "name": "CoMakingSpace gGmbH",
          "email": "{{site.email}}",
          "openingHours": [
          ],
          "priceRange": "$",
          "url": "{{site.url}}",
          "image": "{{site.url}}{{site.logo}}"
    }
</script>
<!-- End of LocalBusiness information -->
