<!-- Begin of LocalBusiness information -->
<script type="application/ld+json">
    {
        "@context":"https://schema.org",
        "@type":"LocalBusiness",
        "address": {
            "@type": "PostalAddress",
            "addressCountry": {{site.country | jsonify}},
            "postalCode": {{site.postal_code | jsonify}},
            "streetAddress": {{site.street_address | jsonify}}
          },
          "location": {
            "@type": "PostalAddress",
            "addressCountry": {{site.country | jsonify}},
            "postalCode": {{site.postal_code | jsonify}},
            "streetAddress": {{site.street_address | jsonify}}
          },
          "geo": {
            "@type": "GeoCoordinates",
            "latitude": {{site.latitude | jsonify}},
            "longitude": {{site.longitude | jsonify}}
          },
          "name": "CoMakingSpace gGmbH",
          "email": {{site.email | jsonify}},
          "openingHours": [
          ],
          "priceRange": "$",
          "url": {{site.url | jsonify}},
          "image": {{site.url | append: site.logo | jsonify}}
    }
</script>
<!-- End of LocalBusiness information -->
