<!-- Begin of website information -->
<script type="application/ld+json">
    {
        "@context":"https://schema.org",
        "@type":"WebSite",
        "publisher":
        {
            "@type":"Organization",
            "logo":
            {
                "@type":"ImageObject",
                "url":"{{site.url}}{{site.logo}}"
            }
        },
        "headline":"{{page.title}}",
        "sameAs":
            [
            {% for link in site.social.links %}"{{link}}" {% unless forloop.last %},
            {% endunless %}{% endfor %}
            ],
        "url":"{{site.url}}",
        "description":"{{site.description.[page.lang]}}",
        "name":"{{site.title.[page.lang]}}"
    }
</script>
<!-- End of website information -->